 
<footer class="footer-area">
   
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <div class=" col-md-6">
                    <p>Jesus Christ the same yesterday, and today, and for ever. <span>Hebrews 13 vs 8.</span></p>

                </div>
            </div>
            <div class="row">

              
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <a href="#" class="footer-logo"><img src="~/Content/img/rccggood.png" alt="" width="40" height="40">Praise Assembly</a>

                        <p>
                            We give God what he loves best becuase that is what we do best -PRAISE.
                            <br />
                            When our praises go up, God's presence comes down.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Quick Link</h5>
                        <nav class="footer-menu">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home</a></li>
                                <li><a href="@Url.Action("About","Home")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
                                <li><a href="@Url.Action("Index","Sermon")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sermon</a></li>
                                <li><a href="@Url.Action("DepartmentCorner","Department")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Join Us</a></li>
                                <li><a href="@Url.Action("UpcomingEvents","Event")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Events</a></li>
                                <li><a href="@Url.Action("Contact","Home")"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Services</h5>

                       
                        <div class="single-latest-news">
                            <a href="#">Digging Deep </a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> Tuesday 6:30pm</p>
                        </div>

                
                        <div class="single-latest-news">
                            <a href="#">Faith Clinic</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i>Thursday 6:30pm</p>
                        </div>
                        <div class="single-latest-news">
                            <a href="#">Sunday Worship</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i>Sunday 8:30a.m</p>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i>Thanksgiving sunday - First Sunday</p>
                        </div>

                    </div>
                </div>

              
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Contact Us</h5>

                        <div class="contact-information">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> No. 49 Shekoni Omokoku Street, Alfa Bus Stop, Sangotedo, Lagos State</p>
                            <a href="callto:001-1234-88888"><i class="fa fa-phone" aria-hidden="true"></i> 08060571803</a>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

  
    <div class="copywrite-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center flex-wrap">
              
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved  <br />Praise Assembly
                        </p>
                    </div>
                </div>

               
                <div class="col-12 col-md-6">
                    <div class="footer-social-icon">
                        <a href="https://www.facebook.com/rccgpraiseajah" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="http://twitter.com/rccgpraiseajah" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/rccgpraiseajah" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>