

@using PagedList;
@using PagedList.Mvc;

@model PAWeb.DeptListViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Index";
    var c = ViewBag.Page ?? 1;
    var j = c - 1;
    var p = ViewBag.PageSize ?? Model.Departments.Count();
    var m = j * p;
    var sn = m + 1;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Department</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Department</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                  
                    <div class="card-body">
                        <table id="DeptTable" class="table table-bordered table-striped">
                            <thead>
                                <tr class="remove">
                                    <th>S/N</th>
                                    <th style="width:20%">Department Leader Image </th>
                                    <th style="width:20%">Department Name</th>
                                    <th style="width:20%">Meeting Location</th>
                                    <th style="width:20%">Department Leader</th>
                                    <th style="width:10%"></th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var dept in Model.Departments)
                                {
                                    <tr>
                                        <td>@sn</td>
                                        <td>
                                            <img src="@Url.Content("~/Content/Images/")@dept.ImageThumbnailUrl" class="img-thumbnail-small img-circle" style="width:65px; height:65px;" alt="preacher/@dept.Name" />
                                        </td>
                                        <td>@dept.Name</td>

                                        <td>@dept.Location</td>

                                        <td style="width: 200px;">@dept.DepartmentLeaderName</td>

                                        <td><a href="/Admin/EditDept/@dept.Id" class="linker">Edit</a></td>
                                        <td>
                                            @using (Html.BeginForm("DeleteDept", "Admin"))
                                            {
                                                @Html.Hidden("Id", dept.Id)

                                                <input type="submit" class="btn btn-danger btn-xs " value="Delete" />
                                            }

                                        </td>
                                    </tr>
                                    sn++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div id="contentPager">
                            @Html.PagedListPager(Model.Departments, page => Url.Action("DepartmentList", new { page }), new PagedListRenderOptions { LiElementClasses = new List<string> { "pagerli" }, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
