
@model PAWeb.EventTypeViewModel

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Edit Category";


}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Event Type</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Event Type</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Event Type</h4>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("EditEventType", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    @Html.AntiForgeryToken()

                                    @Html.HiddenFor(model => model.Id)
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            <input type="text" name="Type" class="form-control" placeholder="E.g National Programme, Youth Programme etc" />

                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" id="AddCategory">Add</button>
                                        <button class="btn btn-success" data-dismiss="modal">Close</button>
                                    </div>

                                }
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<div>
    @Html.ActionLink("Back to List", "EventTypeList", null, new { @class = "linker" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
