
@model PAWeb.MembersViewModel

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Member";

}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Department</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Departments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->

                <div class="card">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Member</h4>
                            </div>
                            <div class="modal-body">

                                @using (Html.BeginForm("Member", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.OtherName, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.OtherName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                 
                                        <div class="row">
                                            <div class="col-12 col-lg-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="contact-name">Are you Married?*:</label>
                                                        <label for="contact-name">
                                                            Yes
                                                            <input type="radio" name="Married" Value="Yes" data-id="married" />

                                                        </label>
                                                        <label for="contact-name">
                                                            No
                                                            <input type="radio" name="Married" Value="No" />

                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div id="married" class="none col-12 col-lg-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SpouseName, htmlAttributes: new { @class = "control-label col-md-8" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="contact-name">Year*:</label>
                                                    <input type="date" name="WeddingAnniversary" class="form-dateInput" Value="mm/dd/yyyy" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                <input type="text" name="DateOfBirth" class="form-dateInput" placeholder="mm/dd/yyyy hh:mm:ss" />
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-8" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                       
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MemberImageUrl, htmlAttributes: new { @class = "control-label col-md-8" })
                                            <div class="col-md-10">
                                                <input type="file" name="MemeberImageThumbnailUrl" class="imgInp form-control" accept=".png,.jpg,.jpeg,.gif,.tif" required />

                                            </div>
                                            <div class="col-md-offset-2 col-md-10">
                                                <img src="@Url.Content("~/Content/Images/")@Model.MemberImageUrl" width="150" height="150" class="img-upload" alt="Upload your Image" />

                                            </div>

                                        </div>




                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                }
                        </div>

                    </div>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/site")        
    
    <script>
        $(document).ready(function () {
            $('#married').hide();
           
            $('input:radio[name=Married]').change(function () {
                if (this.value == 'Yes') {
                    $('#married').show();
                }
                else if (this.value == 'No') {
                    $('#married').hide();
                }
            });

           
        });


    </script>